<% include template/header %>
	<!-- <div class="banner">
		<img src="../img/testing-banner.png" alt="" width="100%">
	</div> -->
	<!-- End Banner -->
	<div class="container-fluid">
		<div class="slogan">
			<div class="row">
				<div class="col-12 slogan_above">
					<h3 class="d-flex justify-content-md-center text-center font-weight-bold mt-4">Một cộng đồng gồm nhiều chủ đề</h3>
					<h3 class="d-flex justify-content-md-center text-center mt-4">Coyome muốn thu thập các chủ đề quan tâm từ các cá nhân khác nhau vào diễn đàn của chúng tôi</h3>
					<h3 class="d-flex justify-content-md-center text-center mt-4">Sẽ cho bạn một quyền để chia sẻ và thảo luận</h3>
					<p class="d-flex justify-content-md-end">Chúng ta sẽ đi xa hơn nữa</p>
				</div>
			</div>
			<div class="row slogan_below">
				<div class="col-md-6 slogan_below_left">
					<p class="d-flex justify-content-md-start">Chia sẻ và thảo luận</p>
					<p class="d-flex justify-content-md-center">Tham gia diễn đàn của chúng tôi và</p>
					<p class="d-flex justify-content-md-end">trở thành một kết nối</p>
				</div>
				<div class="col-md-6 slogan_below_right">
					<p class="d-flex justify-content-md-end">Học và tìm</p>
					<p class="d-flex justify-content-md-center">Đọc bài viết của chúng tôi</p>
					<p class="d-flex justify-content-md-start">Trở nên khôn ngoan hơn</p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Slogan -->
	<div class="topics">
		<h1 class="our_topics">Các chủ đề của chúng tôi</h1>
		<h5 class="topic"><i class="fas fa-futbol"></i> Bóng đá
			<a href=""><p>Khám phá <i class="fas fa-arrow-right"></i></p></a>
		</h5>
		<!-- carousel -->
		<div class="my-owl-nav">
		  <p class="news"><i class="fas fa-pen-alt"></i> Mới nhất</p>
		  <span class="my-next-button">
		  	<i class="fas fa-caret-square-right" style="margin-right: 25px;"></i>
		  </span>
		  <div class="ke"></div>
		  <span class="my-prev-button">
		  	<i class="fas fa-caret-square-left"></i>
		  </span>
		</div>
		<div class="owl-carousel owl-theme owl-loaded owl-drag">
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/football_1.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 1</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/football_2.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 2</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/football_3.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 3</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/football_4.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 4</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/football_5.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 5</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/football_6.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 6</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/football_7.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 7</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/football_8.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 8</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		</div>
		<!-- Topics Movie -->
		<h5 class="topic"><i class="fas fa-film"></i> Phim
			<a href=""><p>Khám phá <i class="fas fa-arrow-right"></i></p></a>
		</h5>
		<!-- carousel -->
		<div class="my-owl-nav">
		  <p class="news"><i class="fas fa-pen-alt"></i> Mới nhất</p>
		  <span class="my-next-button">
		  	<i class="fas fa-caret-square-right" style="margin-right: 25px;"></i>
		  </span>
		  <div class="ke"></div>
		  <span class="my-prev-button">
		  	<i class="fas fa-caret-square-left"></i>
		  </span>
		</div>
		<div class="owl-carousel owl-theme owl-loaded owl-drag">
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/movie_1.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 9</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/movie_2.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 10</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/movie_3.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 11</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/movie_4.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 12</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/movie_5.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 13</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/movie_6.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 14</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/movie_7.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 15</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		  <div> 
		  	<div class="card" style="width:250px">
			    <img class="card-img-top" src="../img-posts/movie_8.png" alt="Card image" style="width:100%">
			    <div class="card-body">
			      <h4 class="card-title">Bài viết số 16</h4>
			      <p class="card-text">Nội dung bài viết, nội dung bài viết, nội dung bài viết</p>
			      <a href="#" class="btn btn-primary">Details <i class="fas fa-angle-right"></i></a>
			    </div>
			  </div>
		  </div>
		</div>
		<div class="show_more col-sm-4 offset-sm-4 mb-3">
			<a href="" style="text-decoration: none;"><div class="btn btn-primary btn-block">Hiển thị thêm chủ đề...</div></a>
		</div>
		
	</div>
	<!-- End Topics -->


		
<% include template/footer %>