<!-- Form Sign in -->
		<div class="container">
				<div class="row">
					<div class="form_dangnhap col-sm-9 col-md-7 col-lg-5 mx-auto">
						<div class="card card-signin my-5">
							<div class="card-body">
								<h5 class="card-title text-center">Đăng nhập</h5>
								<form class="form-signin" action="/login" method="POST">
									<div class="form-label-group">
										<input type="text" name="username" class="form-control" placeholder="Tên đăng nhập" required autofocus autocomplate="off">
									</div>
									<div class="form-label-group">
										<input type="password" name="password" class="form-control" placeholder="Mật khẩu" required autocomplate="off">
									</div>
									<div class="custom-control custom-checkbox mb-3">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Nhớ mật khẩu</label>
									</div>
									<button class="nut_dangnhap btn btn-lg btn-block text-uppercase mb-3" type="submit"><i class="fas fa-paper-plane"></i> Đăng nhập</i></button>
									<a href="">Quên mật khẩu</a>
									<hr class="my-4">
								</form>
								<h6>Chưa có tài khoản</h6>
								<button class="nut_dangky_2 btn btn-lg text-uppercase" type="submit"><i class="fas fa-hand-point-right"></i> Đăng ký</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Sign in -->
	
			<!-- Form Sign up -->
			<div class="container">
				<div class="row">
					<div class="form_dangky col-sm-9 col-md-7 col-lg-6 mx-auto">
						<div class="card card-signin my-5">
							<div class="card-body">
								<h5 class="card-title text-center">Đăng ký</h5>
								<form class="form-signin">
									<div class="form-label-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text"><i class="far fa-user-circle"></i></div>
											</div>
											<input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Tên đăng nhập" required>
										</div>
									</div>
									<div class="form-label-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text"><i class="fas fa-key"></i></div>
											</div>
											<input type="password" class="form-control" placeholder="Mật khẩu" required>
											<div class="input-group-prepend">
													<div class="input-group-text"><i class="fas fa-lock"></i></div>
												</div>
												<input type="password" class="form-control" placeholder="Nhập lại mật khẩu" required>
										</div>
									</div>
									<div class="form-label-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text"><i class="fas fa-user-alt"></i></div>
											</div>
										<input type="text" class="form-control" placeholder="Họ tên" required>
										
										</div>
									</div>
									<div class="form-label-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text"><i class="fas fa-birthday-cake"></i></div>
											</div>
											<input type="date" class="form-control" placeholder="Ngày sinh" required>
											<div class="input-group-prepend">
												<div class="input-group-text"><i class="fas fa-venus-mars"></i></div>
											</div>
											<select class="form-control" id="exampleFormControlSelect1" required>
												<option></option>
												<option value="1">Nam</option>
												<option value="2">Nữ</option>
												<option value="3">Khác</option>
											</select>
										</div>
									</div>
									<div class="form-label-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text"><i class="fas fa-map-marked"></i></div>
											</div>
										<input type="text" class="form-control" placeholder="Địa chỉ" required>
										<div class="input-group-prepend">
												<div class="input-group-text"><i class="fas fa-mobile-alt"></i></div>
											</div>
										<input type="tel" class="form-control" placeholder="Số điện thoại">
										</div>
									</div>
									<div class="form-label-group">
										<div class="input-group">
											
										</div>
									</div>
									<div class="custom-control custom-checkbox mb-3">
										<input type="checkbox" class="custom-control-input">
										<label class="custom-control-label" for="customCheck1">Nhớ mật khẩu</label>
									</div>
									<button class="nut_dangky btn btn-lg btn-block text-uppercase mb-3" type="submit"><i class="fas fa-paper-plane"></i> Đăng ký</i></button>
									<hr class="my-4">
								</form>
								<h6>Đã có tài khoản</h6>
								<button class="nut_dangnhap_2 btn btn-lg text-uppercase" type="submit"><i class="fas fa-hand-point-right"></i> Đăng Nhập</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Sign up -->
			<!-- class effect -->
			<div class="mo"></div>
<div class="footer">
		<div class="container-fluid">
		<div class="row footer_above">
			<div class="col-sm-5 please_note">
				<h5>Lưu ý</h5>
				<p>Các câu hỏi thường gặp về Coyome</p>
				<p>Quyền riêng tư của người dùng Coyome</p>
			</div>
			<div class="col-sm-5 text-sm-right connect">
				<h5>Kết nối với Coyome:</h5>
				<a href="" class="facebook"><i class="fab fa-facebook-square"></i></a>
				<a href="" class="twitter"><i class="fab fa-twitter-square"></i></a>
				<a href="" class="youtube"><i class="fab fa-youtube-square"></i></a>
			</div>
		</div>
		<div class="row footer_below">
			<div class="col-sm-12 copyright">
				<p class="copyright_text">Được cung cấp bởi đội ngũ <b style="color:red;">Coyome</b>. Bảo lưu mọi quyền 2019
					<img src="/img/logotest.png" alt="" class="copyright_logo" width="3%">
				</p>
			</div>
		</div>
		</div>
	</div>
	<!-- End Footer -->
<!-- Script for Carousel -->
<script>
$(document).ready(function(){
  $(".owl-carousel").owlCarousel({
      loop:true,
      items:5,
      dots: true,
      autoplay:true,
      autoplayTimeout:4000,
      autoplayHoverPause:true,
      responsiveClass:true,
    responsive:{
        0:{
            items:1,
            loop:true
        },
        300:{
            items:2,
            loop:true
        },
        600:{
            items:4,
            loop:true
        },
        1000:{
            items:5,
            loop:true
        }
    }
  });
  var selector = $('.owl-carousel');
    $('.my-next-button').click(function() {
      selector.trigger('next.owl.carousel');
    });
    $('.my-prev-button').click(function() {
      selector.trigger('prev.owl.carousel');
    });
  $('.toast').toast('show');
	$('[data-toggle="popover"]').popover({html:true});   
	//$('#example').DataTable();
	$('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})

			
		
});
</script>
</body>
</html>